{% extends 'base.html.twig' %}

{% block title %}
    {{ 'title.song_view'|trans({'%id%': song.id|default('')}) }}
{% endblock %}

{% block body %}
    <h1>{{ 'title.song_view'|trans({'%id%': song.id|default('')}) }}</h1>
    {% if song is defined and song|length %}
        <table class="table">
            <tbody>
                <tr>
                    <th>{{ 'label.id' | trans }}</th>
                    <td>{{ song.id }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.title' | trans }}</th>
                    <td>{{ song.title }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.createdAt' |trans }}</th>
                    <td>{{ song.createdAt ? song.createdAt|format_date('long') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.updatedAt' |trans }}</th>
                    <td>{{ song.updatedAt ? song.updatedAt|format_date('long') : '' }}</td>
                </tr>
                <tr>
                    <th>{{ 'label.duration' |trans }}</th>
                    <td>{{ song.duration ? song.duration|date("H:i:s")}}</td>
                </tr>
{#                <tr>#}
{#                    <th>{{ 'label.comment' |trans }}</th>#}
{#                    <td>{{ song.comment }}</td>#}
{#                </tr>#}
                {% if song.category is defined and song.category|length %}
                <tr>
                    <th>{{ 'label.category' |trans}}
                    <td>
                        <a href="{{ path('category_show', {'id': song.category.id}) }}" class="text-reset">
                            {{ song.category.title }}
                        </a>
                    </td>
                </tr>
                {% endif %}
                {% if song.tag is defined and song.tag|length %}
                    <tr>
                        <th>Tags</th>
                        <td>{% for tag in song.tag %}
                            <a href="{{ path('app_tag_show', {'id': tag.id}) }}" class="text-decoration-none text-reset">
                                {{ tag.title |join(', ')  }}{% if not loop.last %},{% endif %}
                            </a>

                        {% endfor %}</td>
                    </tr>
                {% endif %}
                <tr>
                    <td>
                        <table class="table" style="margin-left: 50%;">
                            <th>{{ 'title.comment_list'|trans }}</th>
                            {% for comment in song.comments %}
                                <tr>
                                    <td>
                                        {{ comment.text }}
                                    </td>
                                    {% if is_granted('ROLE_ADMIN') %}
                                        <td>
                                            <a href="{{ url('comment_delete', {id: comment.id}) }}" title="{{ 'action.delete'|trans }}">
                                                {{ 'action.delete'|trans }}</a>
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                            <tr>
                                <td>
                                    <a href="{{ path('comment_new', {'id': song.id}) }}" title="{{ 'action.new'|trans }}">
                                        {{ 'action.new'|trans }}
                                    </a>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
    {% if is_granted('EDIT', song) %}
        <a href="{{ path('song_edit', {'id': song.id}) }}" title="{{ 'action.edit'|trans }}">
            {{ 'action.edit'|trans }}
        </a>
        {%  endif %}
    {% if is_granted('DELETE', song) %}
        <a href="{{ url('song_delete', {id: song.id}) }}" title="{{ 'action.delete'|trans }}">
            {{ 'action.delete'|trans }}</a>
    {% endif %}
    {% else %}

        <p>
            {{ 'message.empty_list' |trans }}
        </p>
    {% endif %}
    <a href="{{ path('song_index') }}">{{ 'action.back_to_list'|trans }}</a>
{% endblock %}
