{# templates/user/change_password.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{  'label.change_Password'|trans }}</h1>

    {{ form_start(form) }}
    {{ form_row(form.current_password) }}
    {{ form_row(form.new_password) }}

    <button class="btn">{{  'action.change_Password'|trans }}</button>
    {{ form_end(form) }}
{% endblock %}
